.bar
{
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    background-color: #282d2b;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger
{
    display: block;
    cursor: pointer;
}
.hamburger.active .bar:nth-child(2)
{
    opacity: 0;
}
.hamburger.active .bar:nth-child(1)
{
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3)
{
    transform: translateY(-8px) rotate(-45deg);
}
@media (max-width:860px)
{
    .nav-menu
    {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: #081411;
        width: 100%;
        align-items: end;
        transition: 0.3s ;
        list-style: none;
        font-weight: 500;
        font-size: 1rem;
        padding-right: 1rem;
    }
}


.nav-item
{
    margin-block: 16px;
}
.nav-item a
{
    color: #fff;
    font-weight: 700;
}
.nav-item a:hover
{
    transition: 0.3s;
    color: var(--primary-txt);
}
.nav-menu.active
{
    left: 0;
}