* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


#nav-bar p,
#nav-bar span,
h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
}


/* Header */

header {
    background-color: #327D7D;
    height: auto;
}

/* Navigation Bar */
#nav-bar {
    display: flex;
    align-items: center;
    padding: 1rem 10rem;
    justify-content: space-between;
}

#nav-bar .menu-and-btn {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

#nav-bar ul {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
}

#nav-bar ul li {
    list-style: none;

}

#nav-bar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 16.37px;
    transition: 0.3s ease-in-out;
    letter-spacing: -0.02em;
    font-style: normal;
    font-family: inherit;
}




#nav-bar ul li a:hover {
    color: #95caca;
}

#nav-bar #nav-btn {
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 400;
    background-color: #ffffff63;
    border-radius: 30px;
    padding: 0.8rem 1.6rem;
    transition: 0.3s ease-in-out;
    line-height: 16px;
    letter-spacing: -0.02em;
    font-family: inherit;
}



#nav-bar #nav-btn:hover {
    background-color: #fff;
    color: #327D7D;
}

#nav-bar .logo a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.625rem;
}

#nav-bar p span {
    font-weight: 275;
}

#nav-bar .hamburger {
    display: none;
}


/* Media Query for Nav Bar */
@media (max-width: 945px) {
    #nav-bar {
        padding: 1rem;
        justify-content: space-between;
    }

    
    #nav-bar .hamburger {
        display: block;
    }

    
    #nav-bar #nav-btn {
        display: none;
    }

}


/* main */

/* Banner Section */

main .banner {
    background-color: #327D7D;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 4rem 0;
}

.banner .text-part {
    
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.banner .text-part h1 {
    width: 100%;
    max-width: 371px;
    font-weight: 600;
    font-size: 75px;
    line-height: 97px;
    letter-spacing: -0.03em;
    font-family: "Poppins", sans-serif;
}

.banner .text-part p {
    font-size: 1.313rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.03em;
}

.banner .button-links {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.03em;
}

.banner .button-links a {
    text-decoration: none;
    font-size: 1.063rem;
    border-radius: 35px;
    padding: 0.6rem 1.8rem;
    transition: 0.3s ease-in-out;
}


.banner .button-links #try{
    background-color: #fff;
    color: #327D7D;
}

.banner .button-links #try:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.banner .button-links #get {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.banner .button-links #get:hover {
    background-color: #fff;
    color: #327D7D;
}


.banner img {
    width: 100%;
    max-width: 588px;
}


/* MEDIA QUERY FOR BANNER SECTION */

@media(max-width: 965px) {
    main .banner {
        padding: 1rem 2rem;
    }

    .banner .text-part {
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .banner .text-part h1 {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }
    
    .banner .text-part p {
        font-size: 1.2rem;
    }
    
    .banner .button-links {
        flex-direction: column;
    }
    
    .banner .button-links a {
        font-size: 1rem;
    }
    .banner img {
        width: 100%;
    }

}




/* instant team chats */
main .instant-team-chats {
    background-color: #fff;
    height: auto;
    padding: 4rem 7rem;

}

main .instant-team-chats h2 {
    text-align: center;
    color: #2B353E;
    font-weight: 500;
    font-size: 2.813rem;
    line-height: 58px;
}

main .instant-team-chats p {
    width: 100%;
    max-width: 563px;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 1.125rem;
    color: #2B353E80;
    letter-spacing: -0.03em;
    letter-spacing: -0.03em;
    margin-top: 2rem;
}


main .instant-team-chats img {
    display: block;
    width: 100%;
    max-width: 1060px;
    margin: auto;
}



/* MEDIA QUERY FOR INSTANT TEAM CHATS */

@media (max-width:965px) {
    main .instant-team-chats {
        padding: 4rem 1rem;
    
    }
    
    main .instant-team-chats h2 {
        font-size: 2rem;
    }
    
    main .instant-team-chats p {
        font-size: 1.1rem;
        margin-top: 2rem;
    }
    
    main .instant-team-chats img {
        margin-top: 2rem;
    }
}


/* perfect Solutions */
 main .perfect-solution-for-small-businesses {
    background-color: #ebf2f2;
    padding-block: 5rem;
    display: flex;
    align-items: start;
    gap: 3rem;
    /* justify-content: space-between; */
 }

 main .perfect-solution-for-small-businesses .text-aspect {
    width: 100%;
    max-width: 447px;
    /* padding-right: 2rem; */
    /* margin-left: 2rem; */
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    gap: 2rem;

 }

 main .perfect-solution-for-small-businesses .text-aspect h2 {
    max-width: 447px;
    color: #2B353E;
    font-size: 2.813rem;
    font-weight: 500;
    line-height: 58px;
 }

 main .perfect-solution-for-small-businesses .text-aspect p {
    font-weight: 400;
    font-size: 1.313rem;
    line-height: 34px;
    letter-spacing: -0.03em;
    color: #2b353eb3;


 }

 main .perfect-solution-for-small-businesses img {
    width: 100%;
    max-width: 775px;
 }

 main .perfect-solution-for-small-businesses .text-aspect .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
 }

 main .perfect-solution-for-small-businesses .text-aspect .buttons a {
    text-decoration: none;
    font-size: 1.063rem;
    font-weight: 700;
    border-radius: 35px;
    padding: 0.6rem 1.8rem;
    line-height: 20px;
    letter-spacing: -0.03em;
    text-align: center;
    transition: 0.3s ease-in-out;

 }

 main .perfect-solution-for-small-businesses .text-aspect .buttons .try{
   color: #fff;
   background-color: #327D7D;
   border: 1px solid #327D7D;

 }

 main .perfect-solution-for-small-businesses .text-aspect .buttons .try:hover {
    
    background-color: #95caca;
 }

 main .perfect-solution-for-small-businesses .text-aspect .buttons .get{
   color: #327D7D;
   background-color: transparent;
   border: 1px solid #327D7D;
   margin-left: 1rem;

 }



 /* Horizontal lining */
 main #horizontal-line{
    background-color: #26465326;
    width: 177px;
    height: 1px;
    margin-top: 1rem;
 }


 main .perfect-solution-for-small-businesses .text-aspect .buttons .get:hover {
    
    background-color: #95caca;
 }

  main .text-aspect .ratings {
    display: flex;
    align-items: center;
    gap: 2rem;
 }

 main .text-aspect .ratings .stars {
    color: #FBA229;
 }

main .text-aspect .ratings p {
    font-weight: 700;
    font-size: 1.125rem;
    width: 100%;
    max-width: 240px;
    line-height: 29px;
    letter-spacing: -0.03em;
}

main .text-aspect .ratings p span {
    font-weight: 400;
}

/* MEDIA QUERY FOR PERFECT SOLUTIONS  */
@media(max-width:965px) {
    main .perfect-solution-for-small-businesses {
        padding:4rem 1.4rem;
        align-items: center;
        flex-direction: column-reverse;
        gap: 4rem;
     }
    
     main .perfect-solution-for-small-businesses .text-aspect {
        width: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
        text-align: center;
        gap: 3rem;
    
     }
    
     main .perfect-solution-for-small-businesses .text-aspect h2 {
        font-size: 2rem;
        width: 100%;
     }
    
     main .perfect-solution-for-small-businesses .text-aspect p {
        font-size: 1.1rem;
     }
    
     main .perfect-solution-for-small-businesses img {
        width: 100%;
     }
    
     
    
     main .perfect-solution-for-small-businesses .text-aspect .buttons a {
        font-size: 1rem;
     }

     main .perfect-solution-for-small-businesses .text-aspect .buttons .get {
        margin: 0;
     }

    
      main .text-aspect .ratings {
        flex-direction: column;
        gap: 1rem;
     }

    main .text-aspect .ratings p {
        font-size: 1.1rem;
        width: 100%;
    }
}

@media(max-width: 1158px) {

}




/* Footer */
footer {    
    padding: 3rem;
}

footer .footer-container{
    display: flex;
    align-items: start;
    justify-content: space-around;
    height: 50vh;
}

footer .column-one {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

footer .column-one .logo {
    font-family: "Poppins", sans-serif;
    color: #327D7D;
    font-weight: 500;
    font-size: 1.625rem;
    line-height: 30px;
    letter-spacing: 0.02em;
}


footer .column-one .logo span {
    font-weight: 275;
    font-family: inherit;
}

footer .column-one .logo-description {
    font-size: 0.938rem;
    color: #2b353eb3;
    font-weight: 400;
    width: 100%;
    max-width: 177px;
    line-height: 24px;
}

footer .footer-container .footer-nav {
    display: flex;
    align-items: start;
    gap: 7rem;
}

footer .footer-container .footer-nav .columns h3{
    font-family: ;
    color: #2B353E;
    font-size: 1.125;
    font-weight: 400;
    line-height: 29px;
}

footer .footer-container .footer-nav .columns ul li {
    list-style: none;
    margin-top: 1rem;
}

footer .footer-container .footer-nav .columns ul li a{
    text-decoration: none;
    color: #2B353EB2;
    font-size: 13px;
    font-weight: 400;
}

footer small {
    font-size: 13px;
    color: #2B353EB2;
}

footer small {
    display: block;
}



/* MEDIA QUERY FOR THE FOOTER */

@media(max-width: 965px) {
    footer {    
        padding: 3rem;
    }
    
    footer .footer-container{
        align-items: start;
        justify-content: space-around;
        height: auto;
    }
    
    footer .column-one {
        display: flex;
        align-items: start;
    }
    
    footer .column-one .logo {
        font-family: "Poppins", sans-serif;
        color: #327D7D;
        font-weight: 500;
        font-size: 26px;
    }
    
    footer .column-one .logo span {
        font-weight: 275;
    }
    
    footer .column-one .logo-description {
        font-size: 15px;
        color: #2B353EB2;
        font-weight: 400;
        width: 40%;
    }
    
    footer .footer-container .footer-nav {
        flex-direction: column;
        align-items: start;
        gap: 7rem;
    }
    
    footer .footer-container .footer-nav .columns h3{
        font-family: "Poppins", sans-serif;;
        color: #2B353E;
        font-size: 18px;
        font-weight: 400;
    }
    
    footer .footer-container .footer-nav .columns ul li {
        list-style: none;
        margin-top: 1rem;
    }
    
    footer .footer-container .footer-nav .columns ul li a{
        text-decoration: none;
        color: #2B353EB3;
        font-size: 0.813rem;
        font-weight: 400;
        line-height: 21px;
    }
    
    footer small {
        font-size: 13px;
        color: #2B353EB2;
    }
}

@media(max-width: 435px) {
    footer .footer-container {
        flex-direction: column;
        gap: 2rem;
    }
}